workflows/website-change-monitor/workflow.json
{
  "name": "Monitor website changes from a Google Sheets watchlist and email a daily summary",
  "nodes": [
    {
      "id": "bb000002-0000-0000-0000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -240
      ],
      "parameters": {
        "color": 3,
        "width": 460,
        "height": 880,
        "content": "## Monitor website changes from a Google Sheets watchlist and email a daily summary\n\n### Who's it for\nAnyone who needs to know when pages change: competitor pricing pages, supplier terms, documentation, job boards, or client sites — without checking them by hand.\n\n### How it works\n1. Runs every morning on a schedule\n2. Reads your watchlist from a Google Sheet (URL, Label, LastHash columns)\n3. Fetches each page as clean markdown with the Acrewity community node (JavaScript-rendered pages work too)\n4. Compares a content hash against the stored one to detect changes\n5. Emails you one digest listing every changed page via Gmail\n6. Writes the new hashes back to the sheet so tomorrow compares against today\n\n### How to set up\n1. Install the verified community node `@acrewity/n8n-nodes-acrewity` and add your Acrewity API credential (free key at acrewity.com, 100 free credits/month)\n2. Connect Google Sheets and Gmail credentials\n3. Create a sheet with columns: URL, Label, LastHash (leave LastHash empty — the workflow fills it)\n4. Set your notification address in the Workflow configuration node\n\n### How to customize\nChange the schedule time in the trigger, or swap the Gmail digest for Slack or Telegram. The first run stores hashes without reporting changes, so alerts start from the second run."
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000002",
      "name": "Every morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8
            }
          ]
        }
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000003",
      "name": "Workflow configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "notifyEmail",
              "value": "you@example.com",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "digestSubject",
              "value": "Website changes detected",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000004",
      "name": "Read watchlist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000005",
      "name": "Fetch page as markdown",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "resource": "url_to_markdown",
        "operation": "url_to_markdown",
        "url": "={{ $json.URL }}"
      },
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "id": "bb000002-0000-0000-0000-000000000006",
      "name": "Detect changed pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "jsCode": "// Pair each fetch result with its watchlist row (same order, same count)\nconst rows = $('Read watchlist').all();\nconst results = $input.all();\n\n// FNV-1a content hash — no external modules needed\nfunction contentHash(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  return (h >>> 0).toString(16).padStart(8, '0');\n}\n\nconst changed = [];\nfor (let i = 0; i < results.length; i++) {\n  const row = rows[i] ? rows[i].json : {};\n  const r = results[i].json;\n  if (r.error) continue; // fetch failed — skip, do not overwrite the stored hash\n\n  const markdown = r.result?.data?.content || r.result?.markdown || r.result?.content || (typeof r.result === 'string' ? r.result : JSON.stringify(r.result || ''));\n  if (!markdown) continue;\n\n  const newHash = contentHash(markdown);\n  const oldHash = String(row.LastHash || '').trim();\n\n  if (newHash !== oldHash) {\n    changed.push({\n      json: {\n        URL: row.URL,\n        Label: row.Label || row.URL,\n        LastHash: newHash,\n        firstRun: oldHash === ''\n      }\n    });\n  }\n}\n\nreturn changed;"
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000007",
      "name": "Combine changes",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1100,
        -100
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000008",
      "name": "Email change summary",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1320,
        -100
      ],
      "webhookId": "bb000002-mail-0000-0000-000000000008",
      "parameters": {
        "sendTo": "={{ $('Workflow configuration').first().json.notifyEmail }}",
        "subject": "={{ $('Workflow configuration').first().json.digestSubject }} ({{ $json.data.filter(c => !c.firstRun).length }} pages)",
        "message": "=These watched pages changed since the last check:\n\n{{ $json.data.filter(c => !c.firstRun).map(c => '- ' + c.Label + ': ' + c.URL).join('\\n') }}\n\n{{ $json.data.some(c => c.firstRun) ? 'Now tracking for the first time (no comparison yet):\\n' + $json.data.filter(c => c.firstRun).map(c => '- ' + c.Label).join('\\n') : '' }}",
        "options": {}
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000009",
      "name": "Update stored hashes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        120
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.URL }}",
            "LastHash": "={{ $json.LastHash }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000010",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ],
      "parameters": {
        "width": 420,
        "height": 120,
        "content": "**1. Schedule and watchlist**\nRuns daily at 8 AM. The pages to watch live in a Google Sheet so you can add or remove URLs without touching the workflow."
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000011",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -180
      ],
      "parameters": {
        "width": 400,
        "height": 120,
        "content": "**2. Fetch and compare**\nEach URL is fetched as clean markdown and hashed. A changed hash means changed content. Failed fetches are skipped safely."
      }
    },
    {
      "id": "bb000002-0000-0000-0000-000000000012",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        -280
      ],
      "parameters": {
        "width": 400,
        "height": 130,
        "content": "**3. Digest and record**\nOne email lists everything that changed. New hashes are written back to the sheet so the next run compares against today's content."
      }
    }
  ],
  "connections": {
    "Every morning": {
      "main": [
        [
          {
            "node": "Workflow configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow configuration": {
      "main": [
        [
          {
            "node": "Read watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read watchlist": {
      "main": [
        [
          {
            "node": "Fetch page as markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch page as markdown": {
      "main": [
        [
          {
            "node": "Detect changed pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect changed pages": {
      "main": [
        [
          {
            "node": "Combine changes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update stored hashes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine changes": {
      "main": [
        [
          {
            "node": "Email change summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}