examples/json-payload-validator/workflow.json
{
  "name": "JSON Payload Validator",
  "nodes": [
    {
      "id": "jsval01-0001-0001-0001-000000000001",
      "name": "Receive Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "validate-payload",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "7e466790-ac4e-4937-80c0-91880661db40"
    },
    {
      "id": "jsval01-0002-0002-0002-000000000002",
      "name": "Validate JSON Schema",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "json_schema_validator",
        "operation": "validate_json",
        "schema": "={{ JSON.stringify($json.body.schema) }}",
        "data": "={{ JSON.stringify($json.body.data) }}"
      }
    },
    {
      "id": "jsval01-0003-0003-0003-000000000003",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.result.data.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "jsval01-0004-0004-0004-000000000004",
      "name": "Process Valid Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        180
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "type": "string",
              "value": "ok"
            },
            {
              "id": "a2",
              "name": "message",
              "type": "string",
              "value": "Payload is valid. Add your processing logic here."
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "jsval01-0005-0005-0005-000000000005",
      "name": "Reject Invalid Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, errors: $json.result.data.errors }) }}",
        "options": {
          "responseCode": 422
        }
      }
    },
    {
      "id": "jsval01-0006-0006-0006-000000000006",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: $json.message }) }}"
      }
    }
  ],
  "connections": {
    "Receive Webhook": {
      "main": [
        [
          {
            "node": "Validate JSON Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JSON Schema": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Process Valid Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Invalid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Valid Data": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}