workflows/acrewity-ai-agent/dispatcher.json
{
  "name": "Acrewity API Dispatcher",
  "nodes": [
    {
      "id": "disp-trigger-001",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "disp-code-001",
      "name": "Build Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst { service, operation, ...rest } = input;\n\n// Parse any string values that look like JSON (AI passes arrays/objects as strings)\nfor (const key of Object.keys(rest)) {\n  const val = rest[key];\n  if (typeof val === 'string' && (val.startsWith('[') || val.startsWith('{'))) {\n    try { rest[key] = JSON.parse(val); } catch (e) {}\n  }\n}\n\nlet parameters;\nif (service === 'json-to-excel' && operation === 'create_multi_sheet') {\n  // AI provides flat data array + sheetName; API needs nested sheets structure\n  const rows = Array.isArray(rest.data) ? rest.data : [];\n  const sheetName = rest.sheetName || 'Sheet1';\n  const headers = rows.length > 0 ? Object.keys(rows[0]) : [];\n  parameters = { sheets: { [sheetName]: { headers, rows } } };\n} else {\n  parameters = rest;\n}\n\nreturn [{ json: { service, operation, parameters } }];"
      }
    },
    {
      "id": "disp-http-001",
      "name": "Call Acrewity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "parameters": {
        "method": "POST",
        "url": "https://www.acrewity.com/api/services/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACREWITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Build Body", "type": "main", "index": 0 }]]
    },
    "Build Body": {
      "main": [[{ "node": "Call Acrewity API", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
