workflows/acrewity-ai-agent/workflow.json
{
  "name": "Acrewity AI Agent",
  "nodes": [
    {
      "id": "aia-0005-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "acrewity-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "acrewity-agent-webhook-001"
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        300,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are an Acrewity AI Agent - a powerful automation assistant with access to document, data, and utility tools.\n\nAvailable tools and when to use them:\n\n• generate_qr_code - encode any URL or text into a scannable QR image. Use when the user mentions QR codes, links, or wants something scannable.\n\n• convert_html_to_pdf - render HTML into a PDF document. Use for invoices, reports, certificates, or any formatted document request. You will write the full HTML yourself before calling this tool - make it look professional with inline CSS.\n\n• fetch_url_as_markdown - retrieve a webpage and return its content as clean Markdown. Use when the user wants to read, summarize, or process a webpage.\n\n• generate_uuid - produce unique identifiers. Use for creating IDs, tokens, keys, or anything requiring a unique string.\n\n• compare_texts - compute a line-by-line diff. Use when the user wants to compare documents, find changes, or audit differences.\n\n• json_to_excel - turn a JSON array into a downloadable Excel file. Use for any tabular data, reports, or data export requests.\n\n• convert_html_to_markdown - convert any HTML into clean Markdown text. Use when the user wants a markdown version of HTML content.\n\n• convert_image - convert an image from one format to another (JPEG, PNG, WebP). Requires a public image URL.\n\n• validate_json_schema - validate a JSON object against a JSON Schema. Returns validation result and any errors. Use to check data structures.\n\n• generate_markdown_table - generate a formatted Markdown table from headers and rows. Use when the user wants tabular data in Markdown format.\n\n• convert_markdown_to_html - convert Markdown text into a full HTML document with optional styling and code highlighting.\n\n• match_regex - run a regex pattern against text and return all matches. Use for pattern extraction, validation checks, or finding occurrences.\n\n• convert_timezone - convert a datetime from one timezone to another. Accepts standard timezone names (UTC, EST, PST, CET, JST, etc.).\n\n• encode_or_decode_url - URL-encode or URL-decode a string. Useful for encoding query parameters or decoding URL-encoded data.\n\nRules:\n- Always call the appropriate tool - do not describe what you would do, do it.\n- When generating PDFs, write complete, styled HTML first - use inline CSS, proper structure, a clean professional look.\n- Return the tool result in your response so the caller can use it directly.\n- Be concise in your text. The output file is the deliverable, not a long explanation.\n- For file-based conversions (PDFs, Excel files), explain to the user that these require base64-encoded file data sent through the webhook - they cannot be generated from scratch."
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000003",
      "name": "Claude (your model)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        100,
        300
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000004",
      "name": "generate_qr_code",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        0,
        500
      ],
      "parameters": {
        "name": "generate_qr_code",
        "description": "Generate a scannable QR code image from any text or URL. Returns base64-encoded PNG or SVG image data.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "qr_code_generator",
            "operation": "generate_qr",
            "text": "={{ $fromAI('text', 'The text or URL to encode in the QR code') }}",
            "format": "={{ $fromAI('format', 'Output image format: png or svg', 'string', 'png') }}",
            "size": "={{ $fromAI('size', 'QR code size in pixels between 100 and 1000', 'number', 300) }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "format",
              "displayName": "format",
              "type": "string",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "size",
              "displayName": "size",
              "type": "number",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000005",
      "name": "convert_html_to_pdf",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        220,
        500
      ],
      "parameters": {
        "name": "convert_html_to_pdf",
        "description": "Convert an HTML string into a downloadable PDF document. For invoices, reports, certificates, or any formatted document. You must write complete styled HTML before calling this tool — include full <html><head><style>...</style></head><body>...</body></html> with inline CSS.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "html-to-pdf",
            "operation": "convert_pdf",
            "html": "={{ $fromAI('html', 'Complete HTML document string to convert to PDF, with full <html><head><style></style></head><body></body></html> structure and inline CSS') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "html",
              "displayName": "html",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000006",
      "name": "fetch_url_as_markdown",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        440,
        500
      ],
      "parameters": {
        "name": "fetch_url_as_markdown",
        "description": "Fetch any public webpage and convert its content to clean Markdown text. Use when the user wants to read, summarize, extract, or process the content of a URL.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "url_to_markdown",
            "operation": "url_to_markdown",
            "url": "={{ $fromAI('url', 'The full URL of the webpage to fetch and convert to Markdown text') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000007",
      "name": "generate_uuid",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        660,
        500
      ],
      "parameters": {
        "name": "generate_uuid",
        "description": "Generate one or more random UUIDs (v4). Use for IDs, tokens, keys, or any unique string.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "uuid_generator",
            "operation": "generate_uuid",
            "count": "={{ $fromAI('count', 'Number of UUIDs to generate between 1 and 100', 'number', 1) }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "count",
              "displayName": "count",
              "type": "number",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000008",
      "name": "compare_texts",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        880,
        500
      ],
      "parameters": {
        "name": "compare_texts",
        "description": "Compare two pieces of text and return a line-by-line diff showing additions and deletions. Use to find differences between two versions of text, documents, or code.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "text-diff",
            "operation": "compare_text",
            "text1": "={{ $fromAI('text1', 'The original text (before version)') }}",
            "text2": "={{ $fromAI('text2', 'The modified text (after version)') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "text1",
              "displayName": "text1",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "text2",
              "displayName": "text2",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000009",
      "name": "json_to_excel",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1100,
        500
      ],
      "parameters": {
        "name": "json_to_excel",
        "description": "Convert a JSON array of objects into a downloadable Excel spreadsheet. Each object becomes a row, keys become column headers. Use for tabular data, reports, or data export.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "json-to-excel",
            "operation": "create_multi_sheet",
            "data": "={{ $fromAI('data', 'JSON array of objects as a string. Example: [{\"Name\":\"Alice\",\"Score\":95},{\"Name\":\"Bob\",\"Score\":87}]') }}",
            "sheetName": "={{ $fromAI('sheetName', 'Name for the Excel sheet tab', 'string', 'Sheet1') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "sheetName",
              "displayName": "sheetName",
              "type": "string",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000011",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.output }) }}",
        "options": {}
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000012",
      "name": "convert_html_to_markdown",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1320,
        500
      ],
      "parameters": {
        "name": "convert_html_to_markdown",
        "description": "Convert an HTML string into clean Markdown text. Use when the user wants a Markdown version of HTML content.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "html_to_markdown",
            "operation": "convert",
            "content": "={{ $fromAI('content', 'The HTML string to convert to Markdown') }}",
            "preserve_tables": "={{ $fromAI('preserve_tables', 'Whether to preserve table formatting: true or false', 'string', 'true') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "preserve_tables",
              "displayName": "preserve_tables",
              "type": "string",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000013",
      "name": "convert_image",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1540,
        500
      ],
      "parameters": {
        "name": "convert_image",
        "description": "Convert an image from one format to another (JPEG, PNG, WebP). Requires a public image URL.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "image_converter",
            "operation": "convert_image",
            "imageUrl": "={{ $fromAI('imageUrl', 'Full public URL of the image to convert') }}",
            "format": "={{ $fromAI('format', 'Output format: jpeg, png, or webp', 'string', 'jpeg') }}",
            "quality": "={{ $fromAI('quality', 'Output quality 1-100', 'number', 85) }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "format",
              "displayName": "format",
              "type": "string",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "quality",
              "displayName": "quality",
              "type": "number",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000014",
      "name": "validate_json_schema",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1760,
        500
      ],
      "parameters": {
        "name": "validate_json_schema",
        "description": "Validate a JSON object against a JSON Schema. Returns validation result and any errors. Use to check data structures or verify API payloads.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "json_schema_validator",
            "operation": "validate_json",
            "data": "={{ $fromAI('data', 'JSON string of the data to validate') }}",
            "schema": "={{ $fromAI('schema', 'JSON Schema string to validate against') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000015",
      "name": "generate_markdown_table",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1980,
        500
      ],
      "parameters": {
        "name": "generate_markdown_table",
        "description": "Generate a formatted Markdown table from headers and row data. Use when the user wants tabular data in Markdown format.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "markdown_table_generator",
            "operation": "generate_table",
            "headers": "={{ $fromAI('headers', 'JSON array of column header strings, e.g. [\"Name\",\"Score\"]') }}",
            "rows": "={{ $fromAI('rows', 'JSON array of arrays with row values, e.g. [[\"Alice\",95],[\"Bob\",87]]') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "rows",
              "displayName": "rows",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000016",
      "name": "convert_markdown_to_html",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2200,
        500
      ],
      "parameters": {
        "name": "convert_markdown_to_html",
        "description": "Convert Markdown text into a full HTML document with optional CSS styling and syntax-highlighted code blocks.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "markdown_to_html",
            "operation": "convert",
            "content": "={{ $fromAI('content', 'The Markdown string to convert to HTML') }}",
            "include_styles": "={{ $fromAI('include_styles', 'Whether to include CSS styles: true or false', 'string', 'true') }}",
            "highlight_code": "={{ $fromAI('highlight_code', 'Whether to add syntax highlighting to code blocks: true or false', 'string', 'true') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "include_styles",
              "displayName": "include_styles",
              "type": "string",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "highlight_code",
              "displayName": "highlight_code",
              "type": "string",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000017",
      "name": "match_regex",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2420,
        500
      ],
      "parameters": {
        "name": "match_regex",
        "description": "Run a regex pattern against text and return all matches. Use for pattern extraction, validation checks, or finding occurrences in text.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "regex_matcher",
            "operation": "match_pattern",
            "text": "={{ $fromAI('text', 'The text to search in') }}",
            "pattern": "={{ $fromAI('pattern', 'The regex pattern to match') }}",
            "flags": "={{ $fromAI('flags', 'Regex flags: g=global, i=case-insensitive, m=multiline', 'string', 'g') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "pattern",
              "displayName": "pattern",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "flags",
              "displayName": "flags",
              "type": "string",
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000018",
      "name": "convert_timezone",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2640,
        500
      ],
      "parameters": {
        "name": "convert_timezone",
        "description": "Convert a datetime from one timezone to another. Use for scheduling, meeting times, or any timezone conversion request.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "timezone_converter",
            "operation": "convert_timezone",
            "datetime": "={{ $fromAI('datetime', 'The datetime to convert in ISO format, e.g. 2025-10-23T12:00:00') }}",
            "fromTimezone": "={{ $fromAI('fromTimezone', 'Source timezone: UTC, EST, PST, MST, CST, GMT, CET, JST, AEST') }}",
            "toTimezone": "={{ $fromAI('toTimezone', 'Target timezone: UTC, EST, PST, MST, CST, GMT, CET, JST, AEST') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "datetime",
              "displayName": "datetime",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "fromTimezone",
              "displayName": "fromTimezone",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "toTimezone",
              "displayName": "toTimezone",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    },
    {
      "id": "aia-0005-0001-0001-0001-000000000019",
      "name": "encode_or_decode_url",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2860,
        500
      ],
      "parameters": {
        "name": "encode_or_decode_url",
        "description": "URL-encode or URL-decode a string. Use encode for query parameters or special characters in URLs, decode to read percent-encoded strings.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "YOUR_DISPATCHER_WORKFLOW_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "url_encoder_decoder",
            "operation": "={{ $fromAI('operation', 'Action to perform: encode or decode', 'string', 'encode') }}",
            "text": "={{ $fromAI('text', 'The text to encode or decode') }}"
          },
          "schema": [
            {
              "id": "service",
              "displayName": "service",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "type": "string",
              "required": true,
              "display": true,
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "removed": false
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude (your model)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "generate_qr_code": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "convert_html_to_pdf": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fetch_url_as_markdown": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate_uuid": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "compare_texts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "json_to_excel": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "convert_html_to_markdown": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "convert_image": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "validate_json_schema": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate_markdown_table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "convert_markdown_to_html": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "match_regex": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "convert_timezone": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "encode_or_decode_url": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {}
}