workflows/acrewity-ai-agent/workflow.json
{
  "name": "Acrewity AI Agent",
  "nodes": [
    {
      "id": "aia-0002-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "acrewity-agent",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [300, 0],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are an Acrewity AI Agent — a powerful automation assistant with access to document, data, and utility tools.\n\nAvailable tools and when to use them:\n\n• generate_qr_code — encode any URL or text into a scannable QR image. Use when the user mentions QR codes, links, or wants something scannable.\n\n• convert_html_to_pdf — render HTML into a PDF document. Use for invoices, reports, certificates, or any formatted document request. You will write the full HTML yourself before calling this tool — make it look professional with inline CSS.\n\n• fetch_url_as_markdown — retrieve a webpage and return its content as clean Markdown. Use when the user wants to read, summarize, or process a webpage.\n\n• generate_uuid — produce unique identifiers. Use for creating IDs, tokens, keys, or anything requiring a unique string.\n\n• compare_texts — compute a line-by-line diff. Use when the user wants to compare documents, find changes, or audit differences.\n\n• json_to_excel — turn a JSON array into a downloadable Excel file. Use for any tabular data, reports, or data export requests.\n\nRules:\n- Always call the appropriate tool — do not describe what you would do, do it.\n- When generating PDFs, write complete, styled HTML first — use inline CSS, proper structure, a clean professional look.\n- Return the tool result in your response so the caller can use it directly.\n- Be concise in your text. The output file is the deliverable, not a long explanation."
        }
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000003",
      "name": "Claude (your model)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [100, 300],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000004",
      "name": "generate_qr_code",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [0, 500],
      "parameters": {
        "name": "generate_qr_code",
        "description": "Generate a scannable QR code image from any text or URL. Returns base64-encoded PNG or SVG image data. Useful for links, contact info, or encoding any short text.",
        "method": "POST",
        "url": "https://www.acrewity.com/api/services/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACREWITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service: 'qr_code_generator', operation: 'generate_qr', parameters: { text: $fromAI('text', 'The text or URL to encode in the QR code'), format: $fromAI('format', 'Output image format: png or svg', 'string', 'png'), size: $fromAI('size', 'QR code size in pixels between 100 and 1000', 'number', 300) } }) }}"
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000005",
      "name": "convert_html_to_pdf",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [220, 500],
      "parameters": {
        "name": "convert_html_to_pdf",
        "description": "Convert an HTML string to a downloadable PDF document. Use for generating invoices, reports, certificates, or any formatted document. You must write complete, styled HTML before calling this — include full <html><head><style>...</style></head><body>...</body></html> with inline CSS.",
        "method": "POST",
        "url": "https://www.acrewity.com/api/services/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACREWITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service: 'html_to_pdf', operation: 'convert_pdf', parameters: { html: $fromAI('html', 'Complete HTML document string to convert to PDF. Must include full HTML with inline CSS styling.') } }) }}"
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000006",
      "name": "fetch_url_as_markdown",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [440, 500],
      "parameters": {
        "name": "fetch_url_as_markdown",
        "description": "Fetch any public webpage and convert its content to clean Markdown text. Use when the user wants to read, summarize, extract, or process the content of a URL.",
        "method": "POST",
        "url": "https://www.acrewity.com/api/services/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACREWITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service: 'url_to_markdown', operation: 'url_to_markdown', parameters: { url: $fromAI('url', 'The full URL of the webpage to fetch and convert to Markdown text') } }) }}"
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000007",
      "name": "generate_uuid",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [660, 500],
      "parameters": {
        "name": "generate_uuid",
        "description": "Generate one or more universally unique identifiers (UUIDs). Use when the user needs unique IDs, tokens, keys, or any unique string identifier. Version 4 is random, version 1 is time-based.",
        "method": "POST",
        "url": "https://www.acrewity.com/api/services/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACREWITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service: 'uuid_generator', operation: 'generate_uuid', parameters: { version: $fromAI('version', 'UUID version: 1 for time-based or 4 for random', 'number', 4), count: $fromAI('count', 'Number of UUIDs to generate between 1 and 100', 'number', 1) } }) }}"
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000008",
      "name": "compare_texts",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [880, 500],
      "parameters": {
        "name": "compare_texts",
        "description": "Compare two pieces of text and return a line-by-line diff showing additions, deletions, and unchanged lines. Use when the user wants to find differences between two versions of text, documents, or code.",
        "method": "POST",
        "url": "https://www.acrewity.com/api/services/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACREWITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service: 'text_diff', operation: 'diff_text', parameters: { text1: $fromAI('text1', 'The original text (before version)'), text2: $fromAI('text2', 'The modified text (after version)') } }) }}"
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000009",
      "name": "json_to_excel",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1100, 500],
      "parameters": {
        "name": "json_to_excel",
        "description": "Convert a JSON array of objects into a downloadable Excel (.xlsx) spreadsheet. Each object becomes a row, keys become column headers. Use when the user wants tabular data as a spreadsheet.",
        "method": "POST",
        "url": "https://www.acrewity.com/api/services/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ACREWITY_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service: 'excel_editor', operation: 'create_excel', parameters: { data: $fromAI('data', 'JSON array of objects to convert to Excel rows. Example: [{\"Name\":\"Alice\",\"Score\":95},{\"Name\":\"Bob\",\"Score\":87}]', 'json'), sheetName: $fromAI('sheetName', 'Name for the Excel sheet tab', 'string', 'Sheet1') } }) }}"
      }
    },
    {
      "id": "aia-0002-0001-0001-0001-000000000011",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.output }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Claude (your model)": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "generate_qr_code": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "convert_html_to_pdf": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "fetch_url_as_markdown": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "generate_uuid": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "compare_texts": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "json_to_excel": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
