examples/web-page-ai-summarizer/workflow.json
{
  "name": "Acrewity - Web Page AI Summarizer",
  "nodes": [
    {
      "id": "a2000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "summarize-url",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "summarize-url-webhook-002"
    },
    {
      "id": "a2000001-0001-0001-0001-000000000002",
      "name": "Extract Page Content",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "parameters": {
        "resource": "url_to_markdown",
        "operation": "url_to_markdown",
        "url": "={{ $json.body.url }}"
      }
    },
    {
      "id": "a2000001-0001-0001-0001-000000000003",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Page URL: {{ $('Webhook').first().json.body.url }}\n\nPage content (markdown):\n{{ $json.result.markdown }}\n\nTask: {{ $('Webhook').first().json.body.question || 'Provide a comprehensive summary of this page. Include: main topic, key points, and any important details.' }}",
        "options": {
          "systemMessage": "You are a helpful assistant that reads and analyzes web page content. Be concise and accurate."
        }
      }
    },
    {
      "id": "a2000001-0001-0001-0001-000000000004",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        340,
        200
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      }
    },
    {
      "id": "a2000001-0001-0001-0001-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ url: $('Webhook').first().json.body.url, summary: $json.output, success: true }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Page Content": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {}
}