workflows/daily-website-monitor/workflow.json
{
  "name": "Acrewity - Daily Website Monitor",
  "nodes": [
    {
      "id": "a8000001-0001-0001-0001-000000000001",
      "name": "Every Day at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8
            }
          ]
        }
      }
    },
    {
      "id": "a8000001-0001-0001-0001-000000000002",
      "name": "URLs to Monitor",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "urls",
              "value": "=[\"https://acrewity.com\", \"https://n8n.io\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a8000001-0001-0001-0001-000000000003",
      "name": "Loop Over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a8000001-0001-0001-0001-000000000004",
      "name": "Set Current URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "url",
              "value": "={{ $json.urls[0] ?? $json.urls ?? $json.url ?? $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a8000001-0001-0001-0001-000000000005",
      "name": "Fetch Page",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "parameters": {
        "resource": "url_to_markdown",
        "operation": "url_to_markdown",
        "url": "={{ $json.url }}"
      },
      "credentials": {
        "acrewityApi": {
          "id": "YOUR_ACREWITY_CREDENTIAL_ID",
          "name": "Acrewity account"
        }
      }
    },
    {
      "id": "a8000001-0001-0001-0001-000000000006",
      "name": "Detect Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst staticData = $getWorkflowStaticData('node');\nconst url = $('Set Current URL').first().json.url;\nconst content = $input.first().json.result?.markdown || '';\nconst hash = crypto.createHash('md5').update(content).digest('hex');\nconst prev = staticData[url];\nconst changed = prev !== undefined && prev !== hash;\nstaticData[url] = hash;\nreturn [{ json: { url, changed, contentPreview: content.substring(0, 600), hash } }];"
      }
    },
    {
      "id": "a8000001-0001-0001-0001-000000000007",
      "name": "Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.changed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a8000001-0001-0001-0001-000000000008",
      "name": "Send Change Alert",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        1540,
        -80
      ],
      "parameters": {
        "resource": "email_access",
        "to": "your@email.com",
        "subject": "=Website Change Detected: {{ $json.url }}",
        "text": "=A change was detected on: {{ $json.url }}\n\nDate: {{ new Date().toISOString() }}\n\nContent preview:\n{{ $json.contentPreview }}",
        "smtp_host": "YOUR_SMTP_HOST",
        "smtp_user": "YOUR_SMTP_USER",
        "smtp_pass": "YOUR_SMTP_PASSWORD",
        "from": "your@email.com"
      },
      "credentials": {
        "acrewityApi": {
          "id": "YOUR_ACREWITY_CREDENTIAL_ID",
          "name": "Acrewity account"
        }
      }
    }
  ],
  "connections": {
    "Every Day at 8 AM": {
      "main": [
        [
          {
            "node": "URLs to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs to Monitor": {
      "main": [
        [
          {
            "node": "Loop Over URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over URLs": {
      "main": [
        [
          {
            "node": "Set Current URL",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Current URL": {
      "main": [
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Detect Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Changes": {
      "main": [
        [
          {
            "node": "Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Changed?": {
      "main": [
        [
          {
            "node": "Send Change Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {}
}
