examples/json-to-excel-email/workflow.json
{
  "name": "Acrewity - JSON to Excel & Email",
  "nodes": [
    {
      "id": "a6000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "json-to-excel",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "json-to-excel-webhook-006"
    },
    {
      "id": "a6000001-0001-0001-0001-000000000002",
      "name": "Convert to Excel",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "parameters": {
        "resource": "json_to_excel",
        "operation": "create_excel",
        "data": "={{ JSON.stringify($json.body.data) }}",
        "sheetName": "={{ $json.body.sheet_name || 'Report' }}"
      }
    },
    {
      "id": "a6000001-0001-0001-0001-000000000003",
      "name": "Set Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "excel_result",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "name": "to_email",
              "value": "={{ $('Webhook').first().json.body.email || 'your@email.com' }}",
              "type": "string"
            },
            {
              "name": "subject",
              "value": "={{ $('Webhook').first().json.body.subject || 'Your Excel Report - ' + new Date().toISOString().split('T')[0] }}",
              "type": "string"
            },
            {
              "name": "body",
              "value": "=Your Excel report is ready.\n\nSheet: {{ $('Webhook').first().json.body.sheet_name || 'Report' }}\nRows: {{ ($('Webhook').first().json.body.data || []).length }}\nGenerated: {{ new Date().toISOString() }}\n\nResult details:\n{{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a6000001-0001-0001-0001-000000000004",
      "name": "Send Email",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "resource": "email_access",
        "to": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "smtp_host": "YOUR_SMTP_HOST",
        "smtp_user": "YOUR_SMTP_USER",
        "smtp_pass": "YOUR_SMTP_PASSWORD",
        "from": "your@email.com"
      }
    },
    {
      "id": "a6000001-0001-0001-0001-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Excel report created and emailed to ' + $('Set Email Data').first().json.to_email, excel: $('Convert to Excel').first().json }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Convert to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Excel": {
      "main": [
        [
          {
            "node": "Set Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {}
}