examples/seo-page-analyzer/workflow.json
{
  "name": "Acrewity - SEO Page Analyzer",
  "nodes": [
    {
      "id": "a4000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "seo-analyze-webhook-004"
    },
    {
      "id": "a4000001-0001-0001-0001-000000000002",
      "name": "Fetch Page Content",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "parameters": {
        "resource": "url_to_markdown",
        "operation": "url_to_markdown",
        "url": "={{ $json.body.url }}"
      }
    },
    {
      "id": "a4000001-0001-0001-0001-000000000003",
      "name": "SEO Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this web page for SEO. URL: {{ $('Webhook').first().json.body.url }}\n\nPage content:\n{{ $json.result.markdown }}\n\nReturn a JSON object (no markdown, just raw JSON) with these fields:\n- title: detected page title\n- word_count: number of words\n- h1_tags: array of H1 headings found\n- h2_tags: array of H2 headings found\n- top_keywords: array of top 10 keywords with {word, count}\n- readability_score: 1-10 (10=very easy)\n- seo_score: 0-100\n- issues: array of SEO issues found\n- recommendations: array of actionable improvements",
        "options": {
          "systemMessage": "You are an expert SEO analyst. Always respond with valid JSON only - no prose, no markdown code blocks."
        }
      }
    },
    {
      "id": "a4000001-0001-0001-0001-000000000004",
      "name": "Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        340,
        200
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      }
    },
    {
      "id": "a4000001-0001-0001-0001-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ url: $('Webhook').first().json.body.url, report: $json.output, success: true }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Content": {
      "main": [
        [
          {
            "node": "SEO Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Analyst": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "SEO Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {}
}