examples/pdf-processing-pipeline/workflow.json
{
  "name": "PDF Document Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "h1b2c3d4-0008-0001-0001-000000000001",
      "name": "Webhook - PDF Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "pdf-process-webhook"
    },
    {
      "parameters": {
        "resource": "pdf_to_markdown",
        "operation": "convert",
        "base64_data": "={{ $json.body.pdf || $json.pdf }}"
      },
      "id": "h1b2c3d4-0008-0001-0001-000000000002",
      "name": "Extract Text as Markdown",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "resource": "markdown_table_generator",
        "operation": "generate_table",
        "headers": "[\"Section\", \"Content\", \"Word Count\"]",
        "rows": "={{ JSON.stringify([[$json.result.title || \"Document\", $json.result.markdown?.substring(0, 100) + \"...\", ($json.result.markdown?.split(\" \").length || 0).toString()]]) }}"
      },
      "id": "h1b2c3d4-0008-0001-0001-000000000003",
      "name": "Generate Summary Table",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "resource": "markdown_to_html",
        "operation": "convert",
        "content": "={{ $node[\"Extract Text as Markdown\"].json.result.markdown }}",
        "include_styles": true,
        "highlight_code": false
      },
      "id": "h1b2c3d4-0008-0001-0001-000000000004",
      "name": "Convert to HTML",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "h1b2c3d4-0008-0001-0001-000000000005",
      "name": "Combine Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ markdown: $node[\"Extract Text as Markdown\"].json.result.markdown, summaryTable: $json[0]?.result?.table, html: $json[1]?.result?.html }) }}",
        "options": {}
      },
      "id": "h1b2c3d4-0008-0001-0001-000000000006",
      "name": "Return Processed Document",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - PDF Upload": {
      "main": [
        [
          {
            "node": "Extract Text as Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text as Markdown": {
      "main": [
        [
          {
            "node": "Generate Summary Table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary Table": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to HTML": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Return Processed Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {}
}