workflows/html-invoice-to-pdf-email/workflow.json
{
  "name": "HTML Invoice to PDF Email",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Receive Invoice Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-invoice-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "2b6e5b1f-262f-41f6-839e-1a6b87920ae3"
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Convert HTML to PDF",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "html_to_pdf",
        "operation": "convert",
        "html": "={{ $json.body.html }}"
      },
      "credentials": {
        "acrewityApi": {
          "id": "YOUR_ACREWITY_CREDENTIAL_ID",
          "name": "Acrewity account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Prepare PDF Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base64 = $input.item.json.result.data.content;\nconst filename = $input.item.json.result.data.filename || \"invoice.pdf\";\nconst buffer = Buffer.from(base64, \"base64\");\nconst binaryData = await this.helpers.prepareBinaryData(buffer, filename, \"application/pdf\");\n\nreturn {\n  json: {\n    to: $('Receive Invoice Request').item.json.body.to,\n    subject: $('Receive Invoice Request').item.json.body.subject || \"Your Invoice\",\n    message: $('Receive Invoice Request').item.json.body.message || \"Please find your invoice attached.\",\n    filename\n  },\n  binary: {\n    attachment: binaryData\n  }\n};"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Send Invoice Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "fromEmail": "={{ $vars.FROM_EMAIL }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "message": "={{ $json.message }}",
        "attachments": "attachment",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      },
      "webhookId": "ee2e97f6-a905-4f86-9d0c-b6f7b6eec669"
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Invoice PDF sent to ' + $('Prepare PDF Attachment').item.json.to }) }}"
      }
    }
  ],
  "connections": {
    "Receive Invoice Request": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "Prepare PDF Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF Attachment": {
      "main": [
        [
          {
            "node": "Send Invoice Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

