examples/excel-upload-to-json/workflow.json
{
  "name": "Excel Upload to JSON",
  "nodes": [
    {
      "id": "excel01-0001-0001-0001-000000000001",
      "name": "Receive Excel Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "excel-to-json",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "webhookId": "0da71e1c-fe89-4b9b-a2b2-2cd93b6972dd"
    },
    {
      "id": "excel01-0001b-001b-001b-000000000001",
      "name": "Extract Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n stores binary externally in filesystem mode - use helper to read it\nconst binary = $input.item.binary;\nif (!binary || !binary.data) {\n    throw new Error('No file uploaded. POST with multipart/form-data, field name \"data\".');\n}\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst file_base64 = buffer.toString('base64');\nreturn { json: { file_base64 } };"
      }
    },
    {
      "id": "excel01-0002-0002-0002-000000000002",
      "name": "Convert Excel to JSON",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "resource": "excel_to_json",
        "operation": "read_excel",
        "file": "={{ $json.file_base64 }}"
      }
    },
    {
      "id": "excel01-0003-0003-0003-000000000003",
      "name": "Return JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}"
      }
    }
  ],
  "connections": {
    "Receive Excel Upload": {
      "main": [
        [
          {
            "node": "Extract Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Base64": {
      "main": [
        [
          {
            "node": "Convert Excel to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Excel to JSON": {
      "main": [
        [
          {
            "node": "Return JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}