workflows/markdown-table-generator/workflow.json
{
  "name": "Acrewity Demo - Markdown Table Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "trigger-1",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "data",
              "value": "[{\"product\":\"Widget\",\"price\":\"$29.99\",\"stock\":150},{\"product\":\"Gadget\",\"price\":\"$49.99\",\"stock\":75},{\"product\":\"Gizmo\",\"price\":\"$19.99\",\"stock\":200}]",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "set-1",
      "name": "Product Data"
    },
    {
      "parameters": {
        "resource": "markdown_table_generator",
        "operation": "generate_table",
        "data": "={{ $json.data }}",
        "inputType": "json"
      },
      "type": "@acrewity/n8n-nodes-acrewity.acrewityTool",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "acrewity-1",
      "name": "Generate Table"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Data": {
      "main": [
        [
          {
            "node": "Generate Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {}
}
