workflows/quote-pdf-follow-up/workflow.json
{
  "name": "Send quote PDFs from form submissions and follow up automatically",
  "nodes": [
    {
      "id": "cc000003-0000-0000-0000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -240
      ],
      "parameters": {
        "color": 3,
        "width": 460,
        "height": 860,
        "content": "## Send quote PDFs from form submissions and follow up automatically\n\n### Who's it for\nFreelancers, agencies, and service businesses that receive quote requests and lose deals by replying late or forgetting to follow up.\n\n### How it works\n1. A prospect fills out the built-in n8n form (no external form tool needed)\n2. The workflow builds a professional quote as a PDF using the Acrewity community node\n3. The quote is emailed to the prospect via Gmail within seconds of the request\n4. After a configurable delay (default 3 days) a polite follow-up email is sent automatically\n\n### How to set up\n1. Install the verified community node `@acrewity/n8n-nodes-acrewity` and add your Acrewity API credential (free key at acrewity.com, 100 free credits/month)\n2. Connect your Gmail credential to both email nodes\n3. Edit the Workflow configuration node: company name, sender name, quote validity, follow-up delay\n4. Activate the workflow and share the form URL from the trigger node\n\n### Requirements\nAcrewity API key (free tier works), Gmail account.\n\n### How to customize\nEdit the form fields in the trigger, the quote look in Build quote HTML, and both email texts in the Gmail nodes. Add a CRM node after the follow-up to log the lead, or an If node to skip the follow-up when the prospect already replied."
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000002",
      "name": "Quote request form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "cc000003-f0f0-4f4f-8f8f-000000000002",
      "parameters": {
        "formTitle": "Request a quote",
        "formDescription": "Tell us what you need and we will send you a quote within minutes.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "What do you need",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Estimated budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Under $1,000"
                  },
                  {
                    "option": "$1,000 to $5,000"
                  },
                  {
                    "option": "Over $5,000"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000003",
      "name": "Workflow configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "companyName",
              "value": "Your Company Inc.",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "senderName",
              "value": "Your Name",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "quoteValidityDays",
              "value": 30,
              "type": "number"
            },
            {
              "id": "cfg-4",
              "name": "followUpDelayDays",
              "value": 3,
              "type": "number"
            },
            {
              "id": "cfg-5",
              "name": "hourlyRateNote",
              "value": "Final pricing is confirmed after a short scoping call.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000004",
      "name": "Build quote HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "// HTML escape helper (XSS protection)\nconst esc = (s = '') => String(s)\n  .replaceAll('&', '&amp;')\n  .replaceAll('<', '&lt;')\n  .replaceAll('>', '&gt;')\n  .replaceAll('\"', '&quot;')\n  .replaceAll(\"'\", '&#39;');\n\nconst data = $input.first().json;\n\nconst customerName = data['Full name'] || 'Customer';\nconst customerEmail = data['Email'] || '';\nconst request = data['What do you need'] || '';\nconst budget = data['Estimated budget'] || 'Not specified';\n\nconst quoteNumber = 'QTE-' + new Date().toISOString().slice(0, 10).replaceAll('-', '') + '-' + String(Date.now()).slice(-4);\nconst validityDays = Number(data.quoteValidityDays) || 30;\nconst validUntil = new Date(Date.now() + validityDays * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: Arial, sans-serif; padding: 40px; color: #1e293b; }\n  h1 { margin: 0 0 4px 0; } h2 { color: #64748b; margin: 0 0 24px 0; font-weight: 600; }\n  .meta p { margin: 4px 0; }\n  .request { margin: 24px 0; padding: 16px; background: #f8fafc; border-left: 3px solid #cbd5e1; white-space: pre-wrap; }\n  .note { color: #64748b; font-size: 14px; margin-top: 32px; }\n</style>\n</head>\n<body>\n  <h1>${esc(data.companyName || 'Your Company Inc.')}</h1>\n  <h2>QUOTE</h2>\n  <div class=\"meta\">\n    <p><strong>Quote #:</strong> ${quoteNumber}</p>\n    <p><strong>Date:</strong> ${new Date().toISOString().slice(0, 10)}</p>\n    <p><strong>Valid until:</strong> ${validUntil}</p>\n    <p><strong>Prepared for:</strong> ${esc(customerName)} (${esc(customerEmail)})</p>\n    <p><strong>Estimated budget:</strong> ${esc(budget)}</p>\n  </div>\n  <h3>Your request</h3>\n  <div class=\"request\">${esc(request)}</div>\n  <p class=\"note\">${esc(data.hourlyRateNote || '')}</p>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    html,\n    quoteNumber,\n    customerName,\n    customerEmail,\n    validUntil,\n    quoteFilename: quoteNumber + '.pdf'\n  }\n}];"
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000005",
      "name": "Convert quote to PDF",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "resource": "html_to_pdf",
        "html": "={{ $json.html }}"
      },
      "retryOnFail": true
    },
    {
      "id": "cc000003-0000-0000-0000-000000000006",
      "name": "Convert PDF to file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "result.data.content",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "={{ $('Build quote HTML').item.json.quoteFilename }}",
          "mimeType": "application/pdf"
        }
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000007",
      "name": "Email quote to customer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1100,
        0
      ],
      "webhookId": "cc000003-mail-4f4f-8f8f-000000000007",
      "parameters": {
        "sendTo": "={{ $('Build quote HTML').item.json.customerEmail }}",
        "subject": "=Your quote {{ $('Build quote HTML').item.json.quoteNumber }} from {{ $('Workflow configuration').first().json.companyName }}",
        "message": "=Hi {{ $('Build quote HTML').item.json.customerName }},\n\nThanks for reaching out. Your quote {{ $('Build quote HTML').item.json.quoteNumber }} is attached as a PDF and is valid until {{ $('Build quote HTML').item.json.validUntil }}.\n\nReply to this email with any questions — happy to adjust the scope.\n\nBest regards,\n{{ $('Workflow configuration').first().json.senderName }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          }
        }
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000008",
      "name": "Wait before following up",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1320,
        0
      ],
      "webhookId": "cc000003-wait-4f4f-8f8f-000000000008",
      "parameters": {
        "amount": "={{ $('Workflow configuration').first().json.followUpDelayDays }}",
        "unit": "days"
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000009",
      "name": "Send follow-up email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1540,
        0
      ],
      "webhookId": "cc000003-mai2-4f4f-8f8f-000000000009",
      "parameters": {
        "sendTo": "={{ $('Build quote HTML').item.json.customerEmail }}",
        "subject": "=Following up on quote {{ $('Build quote HTML').item.json.quoteNumber }}",
        "message": "=Hi {{ $('Build quote HTML').item.json.customerName }},\n\nJust checking in on the quote I sent a few days ago ({{ $('Build quote HTML').item.json.quoteNumber }}). It is valid until {{ $('Build quote HTML').item.json.validUntil }}.\n\nIf anything about the scope or pricing does not fit, tell me what would work better and I will revise it.\n\nBest regards,\n{{ $('Workflow configuration').first().json.senderName }}",
        "options": {}
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000010",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -180
      ],
      "parameters": {
        "width": 400,
        "height": 120,
        "content": "**1. Intake**\nThe built-in n8n form collects the request. Share its URL anywhere — no external form tool needed. Configuration lives in the Set node."
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000011",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        -180
      ],
      "parameters": {
        "width": 400,
        "height": 120,
        "content": "**2. Quote generation**\nA styled quote is built from the submission and rendered to PDF by the Acrewity node, then emailed to the prospect within seconds."
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000012",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        -180
      ],
      "parameters": {
        "width": 420,
        "height": 120,
        "content": "**3. Automatic follow-up**\nAfter the configured delay the workflow resumes and sends a polite follow-up referencing the quote number. Adjust the delay in the configuration node."
      }
    }
  ],
  "connections": {
    "Quote request form": {
      "main": [
        [
          {
            "node": "Workflow configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow configuration": {
      "main": [
        [
          {
            "node": "Build quote HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build quote HTML": {
      "main": [
        [
          {
            "node": "Convert quote to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert quote to PDF": {
      "main": [
        [
          {
            "node": "Convert PDF to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF to file": {
      "main": [
        [
          {
            "node": "Email quote to customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email quote to customer": {
      "main": [
        [
          {
            "node": "Wait before following up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before following up": {
      "main": [
        [
          {
            "node": "Send follow-up email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}