workflows/quote-pdf-follow-up/workflow.json
{
  "name": "Send quote PDFs from form submissions and follow up automatically",
  "nodes": [
    {
      "id": "98ea4688-383a-4171-abb4-58e0a6c6f28a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -160
      ],
      "parameters": {
        "content": "## Delay and follow up\n\nWaits for the configured follow-up period, then sends an automatic follow-up email referencing the quote number.",
        "width": 416,
        "height": 320,
        "color": 7
      }
    },
    {
      "id": "07954391-4aa0-4aaf-b2ca-ed51e7027aaf",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -176
      ],
      "parameters": {
        "content": "## Prepare and send quote\n\nConverts the generated PDF into a file attachment and emails the quote to the customer within seconds of the request.",
        "width": 416,
        "height": 336,
        "color": 7
      }
    },
    {
      "id": "90a7aad0-c7a9-4cbd-a89b-070f5ecd1113",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -176
      ],
      "parameters": {
        "content": "## Generate quote document\n\nBuilds the quote HTML from the submitted details and configured values, then the Acrewity node renders it to PDF.",
        "width": 416,
        "height": 336,
        "color": 7
      }
    },
    {
      "id": "a2ac85ad-be1c-4388-83aa-019dc698fc2e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -224
      ],
      "parameters": {
        "content": "## Capture quote details\n\nCollects the quote request through the built-in form and applies workflow-wide settings such as company name, sender name, quote validity, and follow-up timing.",
        "width": 416,
        "height": 384,
        "color": 7
      }
    },
    {
      "id": "18d2c6d7-b713-4fe2-a93d-a358c2d959bd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -224
      ],
      "parameters": {
        "content": "## Send quote PDFs from form submissions and follow up automatically\n\n### Who's it for\n\nFreelancers, agencies, and service businesses that receive quote requests and lose deals by replying late or forgetting to follow up.\n\n### How it works\n\nA prospect fills out the built-in n8n form (no external form tool needed). The workflow builds a professional quote with a quote number and validity date, renders it to PDF with the Acrewity community node, and emails it to the prospect via Gmail within seconds. After a configurable delay (default 3 days) a polite follow-up email referencing the quote number goes out automatically.\n\n### Setup steps\n\n1. Install the verified community node `@acrewity/n8n-nodes-acrewity` and add your Acrewity API credential (free key at acrewity.com, 100 free credits/month)\n2. Connect your Gmail credential to both email nodes\n3. Edit Set Configuration Parameters: company name, sender name, quote validity, follow-up delay\n4. Activate the workflow and share the form URL shown on the trigger node\n\n### Customization\n\nEdit the form fields in the trigger, the quote look in Create Quote HTML (the editable lines are marked CHANGE ME), and both email texts in the Gmail nodes. Add an If node before the follow-up to skip prospects who already replied, or a CRM node after it to log the lead.",
        "width": 480,
        "height": 1040
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000002",
      "name": "When Quote Form Submitted",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "cc000003-f0f0-4f4f-8f8f-000000000002",
      "parameters": {
        "formTitle": "Request a quote",
        "formDescription": "Tell us what you need and we will send you a quote within minutes.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "What do you need",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Estimated budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Under $1,000"
                  },
                  {
                    "option": "$1,000 to $5,000"
                  },
                  {
                    "option": "Over $5,000"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000003",
      "name": "Set Configuration Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "companyName",
              "value": "Your Company Inc.",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "senderName",
              "value": "Your Name",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "quoteValidityDays",
              "value": 30,
              "type": "number"
            },
            {
              "id": "cfg-4",
              "name": "followUpDelayDays",
              "value": 3,
              "type": "number"
            },
            {
              "id": "cfg-5",
              "name": "hourlyRateNote",
              "value": "Final pricing is confirmed after a short scoping call.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000004",
      "name": "Create Quote HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "// ================================================================\n// BUILD THE QUOTE HTML\n//\n// This node takes one form submission and turns it into the HTML\n// page that becomes the PDF quote.\n//\n// It is safe to edit this code. The places you are most likely\n// to change are marked with:  CHANGE ME\n// ================================================================\n\n\n// ---- STEP 1: Get the incoming data -----------------------------\n// \"data\" holds the form answers PLUS the settings from the\n// \"Set Configuration Parameters\" node.\nconst data = $input.first().json;\n\n\n// ---- STEP 2: Helper that keeps the HTML safe --------------------\n// Converts characters like < and & so that whatever the prospect\n// typed into the form cannot break the quote layout.\n// Rule of thumb: wrap ANY text you print in the HTML in esc(...).\nfunction esc(text) {\n  return String(text ?? '')\n    .replaceAll('&', '&amp;')\n    .replaceAll('<', '&lt;')\n    .replaceAll('>', '&gt;')\n    .replaceAll('\"', '&quot;')\n    .replaceAll(\"'\", '&#39;');\n}\n\n\n// ---- STEP 3: Read the form answers ------------------------------\n// The names in ['...'] must match the form field labels in the\n// trigger node EXACTLY. If you rename a form field there,\n// rename it here too.                                  CHANGE ME\nconst customerName  = data['Full name']        || 'Customer';\nconst customerEmail = data['Email']            || '';\nconst request       = data['What do you need'] || '';\nconst budget        = data['Estimated budget'] || 'Not specified';\n\n\n// ---- STEP 4: Create the quote number and validity date ----------\n// Example quote number: QTE-20260710-4821\nconst today = new Date().toISOString().slice(0, 10);   // e.g. 2026-07-10\nconst quoteNumber = 'QTE-' + today.replaceAll('-', '') + '-' + String(Date.now()).slice(-4);\n\n// How many days the quote stays valid (set in Set Configuration Parameters)\nconst validityDays = Number(data.quoteValidityDays) || 30;\nconst validUntil = new Date(Date.now() + validityDays * 24 * 60 * 60 * 1000)\n  .toISOString().slice(0, 10);\n\n\n// ---- STEP 5: The quote itself ------------------------------------\n// This is normal HTML and CSS. Change colors, fonts, and layout\n// in the <style> block below.                          CHANGE ME\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body     { font-family: Arial, sans-serif; padding: 40px; color: #1e293b; }\n  h1       { margin: 0 0 4px 0; }\n  h2       { color: #64748b; margin: 0 0 24px 0; font-weight: 600; }\n  .meta p  { margin: 4px 0; }\n  .request { margin: 24px 0; padding: 16px; background: #f8fafc; border-left: 3px solid #cbd5e1; white-space: pre-wrap; }\n  .note    { color: #64748b; font-size: 14px; margin-top: 32px; }\n</style>\n</head>\n<body>\n\n  <h1>${esc(data.companyName || 'Your Company Inc.')}</h1>\n  <h2>QUOTE</h2>\n\n  <div class=\"meta\">\n    <p><strong>Quote #:</strong> ${quoteNumber}</p>\n    <p><strong>Date:</strong> ${today}</p>\n    <p><strong>Valid until:</strong> ${validUntil}</p>\n    <p><strong>Prepared for:</strong> ${esc(customerName)} (${esc(customerEmail)})</p>\n    <p><strong>Estimated budget:</strong> ${esc(budget)}</p>\n  </div>\n\n  <h3>Your request</h3>\n  <div class=\"request\">${esc(request)}</div>\n\n  <p class=\"note\">${esc(data.hourlyRateNote || '')}</p>\n\n</body>\n</html>`;\n\n\n// ---- STEP 6: Hand everything to the next nodes -------------------\n// \"html\" becomes the PDF. The other fields are used by the two\n// email nodes (the quote email and the follow-up).\nreturn [{\n  json: {\n    html: html,\n    quoteNumber: quoteNumber,\n    customerName: customerName,\n    customerEmail: customerEmail,\n    validUntil: validUntil,\n    quoteFilename: quoteNumber + '.pdf'\n  }\n}];\n"
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000005",
      "name": "Generate PDF from Quote",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "resource": "html_to_pdf",
        "html": "={{ $json.html }}"
      },
      "retryOnFail": true
    },
    {
      "id": "cc000003-0000-0000-0000-000000000006",
      "name": "Convert PDF to File Format",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        912,
        0
      ],
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "result.data.content",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "={{ $('Create Quote HTML').item.json.quoteFilename }}",
          "mimeType": "application/pdf"
        }
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000007",
      "name": "Send Quote via Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        0
      ],
      "webhookId": "cc000003-mail-4f4f-8f8f-000000000007",
      "parameters": {
        "sendTo": "={{ $('Create Quote HTML').item.json.customerEmail }}",
        "subject": "=Your quote {{ $('Create Quote HTML').item.json.quoteNumber }} from {{ $('Set Configuration Parameters').first().json.companyName }}",
        "message": "=Hi {{ $('Create Quote HTML').item.json.customerName }},\n\nThanks for reaching out. Your quote {{ $('Create Quote HTML').item.json.quoteNumber }} is attached as a PDF and is valid until {{ $('Create Quote HTML').item.json.validUntil }}.\n\nReply to this email with any questions — happy to adjust the scope.\n\nBest regards,\n{{ $('Set Configuration Parameters').first().json.senderName }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          }
        }
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000008",
      "name": "Wait for Follow-up Period",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        0
      ],
      "webhookId": "cc000003-wait-4f4f-8f8f-000000000008",
      "parameters": {
        "amount": "={{ $('Set Configuration Parameters').first().json.followUpDelayDays }}",
        "unit": "days"
      }
    },
    {
      "id": "cc000003-0000-0000-0000-000000000009",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1568,
        0
      ],
      "webhookId": "cc000003-mai2-4f4f-8f8f-000000000009",
      "parameters": {
        "sendTo": "={{ $('Create Quote HTML').item.json.customerEmail }}",
        "subject": "=Following up on quote {{ $('Create Quote HTML').item.json.quoteNumber }}",
        "message": "=Hi {{ $('Create Quote HTML').item.json.customerName }},\n\nJust checking in on the quote I sent a few days ago ({{ $('Create Quote HTML').item.json.quoteNumber }}). It is valid until {{ $('Create Quote HTML').item.json.validUntil }}.\n\nIf anything about the scope or pricing does not fit, tell me what would work better and I will revise it.\n\nBest regards,\n{{ $('Set Configuration Parameters').first().json.senderName }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "When Quote Form Submitted": {
      "main": [
        [
          {
            "node": "Set Configuration Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration Parameters": {
      "main": [
        [
          {
            "node": "Create Quote HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Quote HTML": {
      "main": [
        [
          {
            "node": "Generate PDF from Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF from Quote": {
      "main": [
        [
          {
            "node": "Convert PDF to File Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF to File Format": {
      "main": [
        [
          {
            "node": "Send Quote via Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Quote via Email": {
      "main": [
        [
          {
            "node": "Wait for Follow-up Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Follow-up Period": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}