workflows/sheets-invoice-pipeline/workflow.json
{
  "name": "Generate and email PDF invoices from new Google Sheets orders",
  "nodes": [
    {
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -240
      ],
      "parameters": {
        "color": 3,
        "width": 460,
        "height": 1100,
        "content": "## Generate and email PDF invoices from new Google Sheets orders\n\n### Who's it for\nSmall businesses and freelancers who track orders in a Google Sheet and want every new order to produce a professional PDF invoice that is emailed to the customer and archived in Google Drive, with the sheet updated automatically.\n\n### How it works\n1. Watches your Orders sheet for new rows\n2. Builds a styled HTML invoice from the row data\n3. Converts it to PDF with the Acrewity community node\n4. Emails the PDF to the customer via Gmail\n5. Archives a copy in Google Drive\n6. Writes Status = Invoiced back to the row\n7. Rows with bad data (broken Items JSON, missing email) do NOT stop the batch — their Status column gets the error message instead\n\n### How to set up\n1. Install the verified community node `@acrewity/n8n-nodes-acrewity` and add your Acrewity API credential (free key at acrewity.com, 100 free credits/month)\n2. Connect Google Sheets, Gmail, and Google Drive credentials\n3. Create an Orders sheet. Paste this line into cell A1 — it fills the whole header row:\n\nOrder Number\tCustomer Name\tCustomer Email\tCustomer Address\tItems\tDue Date\tNotes\tStatus\n4. Items column holds a JSON array, e.g. [{\"name\":\"Widget\",\"quantity\":2,\"price\":9.99}]\n5. Pick your spreadsheet in the trigger, Drive folder in the archive node, and edit the Workflow configuration node (company name, logo, tax rate)\n\n### How to customize\nAdjust the invoice look in Build invoice HTML, change the email copy in the Gmail node, or add Slack notifications after the archive step."
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "New order row added",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "event": "rowAdded",
        "options": {}
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "Workflow configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "companyName",
              "value": "Your Company Inc.",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "companyLogoUrl",
              "value": "",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "taxRate",
              "value": 0.13,
              "type": "number"
            },
            {
              "id": "cfg-4",
              "name": "currencySymbol",
              "value": "$",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "emailSubjectPrefix",
              "value": "Your invoice from Your Company Inc.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "Build invoice HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "// ================================================================\n// BUILD THE INVOICE HTML\n//\n// This node turns an order row from Google Sheets into the HTML\n// page that becomes the PDF invoice.\n//\n// The node is set to \"Run Once for Each Item\", so this code runs\n// separately for every new row — paste five rows into the sheet\n// and five invoices go out.\n//\n// It is safe to edit this code. The places you are most likely\n// to change are marked with:  CHANGE ME\n// ================================================================\n\n\n// ---- STEP 1: Get the current row ---------------------------------\n// \"$json\" is this row from your sheet PLUS the settings from the\n// \"Workflow configuration\" node (company name, tax rate, etc.)\nconst data = $json;\n\n\n// ---- STEP 2: Helper that keeps the HTML safe --------------------\n// This converts characters like < and & so that customer-entered\n// text cannot break the invoice layout.\n// Rule of thumb: wrap ANY text you print in the HTML in esc(...).\nfunction esc(text) {\n  return String(text ?? '')\n    .replaceAll('&', '&amp;')\n    .replaceAll('<', '&lt;')\n    .replaceAll('>', '&gt;')\n    .replaceAll('\"', '&quot;')\n    .replaceAll(\"'\", '&#39;');\n}\n\n\n// ---- STEP 3: Read the settings ----------------------------------\n// These come from the \"Workflow configuration\" node.\n// Edit them THERE (not here) so all your settings stay in one place.\nconst companyName = data.companyName || 'Your Company Inc.';\nconst logoUrl     = data.companyLogoUrl || '';\nconst taxRate     = Number(data.taxRate) || 0;      // 0.13 means 13%\nconst currency    = data.currencySymbol || '$';\n\n\n// ---- STEP 4: Read the order row ---------------------------------\n// The names in ['...'] must match your Google Sheets column\n// headers EXACTLY. If your sheet uses different column names,\n// change them here.                                    CHANGE ME\nconst orderNumber     = data['Order Number']     || 'INV-' + Date.now();\nconst customerName    = data['Customer Name']    || 'Customer';\nconst customerEmail   = data['Customer Email']   || '';\nconst customerAddress = data['Customer Address'] || '';\nconst dueDate         = data['Due Date']         || '';\nconst notes           = data['Notes']            || '';\n\n\n// ---- STEP 5: Validate the line items ----------------------------\n// The \"Items\" column must contain a JSON array, for example:\n// [{\"name\":\"Widget\",\"quantity\":2,\"price\":9.99}]\n//\n// IMPORTANT: a bad row must NOT stop the whole batch — other rows\n// still deserve their invoices. Instead of stopping, this section\n// marks the row as invalid; the If node after this one routes it\n// to 'Mark order as failed', which writes the reason into the\n// Status column of your sheet.\nfunction invalidRow(reason) {\n  return {\n    json: {\n      valid: false,\n      orderNumber: data['Order Number'] || '',\n      statusMessage: 'Error: ' + reason\n    }\n  };\n}\n\nif (data['Items'] === undefined) {\n  return invalidRow('Items column not found — row 1 of the sheet must be the header row (see the sticky note)');\n}\n\nlet items;\ntry {\n  items = JSON.parse(data['Items']);\n} catch (error) {\n  return invalidRow('Items is not valid JSON — expected [{\"name\":...,\"quantity\":...,\"price\":...}]');\n}\nif (!Array.isArray(items) || items.length === 0) {\n  return invalidRow('Items must be a non-empty JSON array');\n}\n\n// Every item needs a name, a quantity, and a price\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (!item || typeof item.name !== 'string' || item.name.trim() === '') {\n    return invalidRow('item ' + (i + 1) + ' has no \"name\" field');\n  }\n  if (isNaN(Number(item.quantity)) || Number(item.quantity) <= 0) {\n    return invalidRow('item ' + (i + 1) + ' needs a numeric quantity above zero');\n  }\n  if (isNaN(Number(item.price))) {\n    return invalidRow('item ' + (i + 1) + ' needs a numeric price');\n  }\n}\n\n// The email address is where the invoice goes — required\nif (!customerEmail || !customerEmail.includes('@')) {\n  return invalidRow('Customer Email is missing or not an email address');\n}\n\n\n// ---- STEP 6: Build the items table and the totals ---------------\nlet itemsHtml = '';   // one <tr> table row per item\nlet subtotal  = 0;\n\nfor (const item of items) {\n  const quantity  = Number(item.quantity) || 0;\n  const price     = Number(item.price) || 0;\n  const lineTotal = quantity * price;\n  subtotal = subtotal + lineTotal;\n\n  itemsHtml = itemsHtml +\n    '<tr>' +\n      '<td>' + esc(item.name) + '</td>' +\n      '<td>' + quantity + '</td>' +\n      '<td>' + currency + price.toFixed(2) + '</td>' +\n      '<td>' + currency + lineTotal.toFixed(2) + '</td>' +\n    '</tr>';\n}\n\nconst tax   = subtotal * taxRate;\nconst total = subtotal + tax;\n\n\n// ---- STEP 7: Build the optional sections ------------------------\n// Each of these is only shown when there is something to show.\n\n// Company logo in the header (only if a logo URL is configured)\nlet logoHtml = '';\nif (logoUrl) {\n  logoHtml = '<img src=\"' + esc(logoUrl) + '\" style=\"max-height:60px;max-width:200px;\" alt=\"Logo\">';\n}\n\n// Tax line (only if the tax rate is above zero)\nlet taxHtml = '';\nif (taxRate > 0) {\n  taxHtml = '<p class=\"right\">Tax (' + (taxRate * 100).toFixed(0) + '%): ' + currency + tax.toFixed(2) + '</p>';\n}\n\n// Due date, address, and notes (only if the row has them)\nlet dueHtml = '';\nif (dueDate) {\n  dueHtml = '<p><strong>Due Date:</strong> ' + esc(dueDate) + '</p>';\n}\n\nlet addressHtml = '';\nif (customerAddress) {\n  addressHtml = '<p><strong>Address:</strong> ' + esc(customerAddress) + '</p>';\n}\n\nlet notesHtml = '';\nif (notes) {\n  notesHtml = '<div class=\"notes\"><strong>Notes:</strong><br>' + esc(notes) + '</div>';\n}\n\n\n// ---- STEP 8: The invoice itself ---------------------------------\n// This is normal HTML and CSS. Change colors, fonts, and layout\n// in the <style> block below.                          CHANGE ME\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body        { font-family: Arial, sans-serif; padding: 40px; color: #1e293b; }\n  .header     { display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 24px; }\n  h1          { margin: 0 0 4px 0; }\n  h2          { color: #64748b; margin: 0; font-weight: 600; }\n  table       { width: 100%; border-collapse: collapse; margin: 20px 0; }\n  th, td      { padding: 10px; text-align: left; border-bottom: 1px solid #e2e8f0; }\n  th          { background: #f1f5f9; }\n  .right      { text-align: right; }\n  .bold       { font-weight: bold; font-size: 18px; }\n  .notes      { margin-top: 30px; padding: 15px; background: #f8fafc; border-left: 3px solid #cbd5e1; }\n</style>\n</head>\n<body>\n\n  <div class=\"header\">\n    <div>\n      <h1>${esc(companyName)}</h1>\n      <h2>INVOICE</h2>\n    </div>\n    ${logoHtml}\n  </div>\n\n  <p><strong>Invoice #:</strong> ${esc(orderNumber)}</p>\n  <p><strong>Date:</strong> ${new Date().toISOString().slice(0, 10)}</p>\n  ${dueHtml}\n  <p><strong>Bill To:</strong> ${esc(customerName)}</p>\n  ${addressHtml}\n  <p><strong>Email:</strong> ${esc(customerEmail)}</p>\n\n  <table>\n    <tr><th>Item</th><th>Qty</th><th>Price</th><th>Total</th></tr>\n    ${itemsHtml}\n  </table>\n\n  <p class=\"right\">Subtotal: ${currency}${subtotal.toFixed(2)}</p>\n  ${taxHtml}\n  <p class=\"right bold\">Total: ${currency}${total.toFixed(2)}</p>\n\n  ${notesHtml}\n\n</body>\n</html>`;\n\n\n// ---- STEP 9: Hand everything to the next nodes -------------------\n// \"html\" becomes the PDF. The other fields are used by the\n// email, Drive, and sheet-update nodes further down the line.\n// (One item out per row in — the next nodes run once per invoice.)\nreturn {\n  json: {\n    valid: true,\n    html: html,\n    orderNumber: orderNumber,\n    customerName: customerName,\n    customerEmail: customerEmail,\n    invoiceFilename: orderNumber + '.pdf',\n    emailSubject: (data.emailSubjectPrefix || 'Your invoice') + ' — ' + orderNumber\n  }\n};\n",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "Convert invoice to PDF",
      "type": "@acrewity/n8n-nodes-acrewity.acrewity",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "parameters": {
        "resource": "html_to_pdf",
        "html": "={{ $json.html }}"
      },
      "retryOnFail": true
    },
    {
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "Convert PDF to file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "result.data.content",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "={{ $('Build invoice HTML').item.json.invoiceFilename }}",
          "mimeType": "application/pdf"
        }
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Email invoice to customer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1320,
        0
      ],
      "webhookId": "aa000001-mail-0000-0000-000000000007",
      "parameters": {
        "sendTo": "={{ $('Build invoice HTML').item.json.customerEmail }}",
        "subject": "={{ $('Build invoice HTML').item.json.emailSubject }}",
        "message": "=Hi {{ $('Build invoice HTML').item.json.customerName }},\n\nThank you for your order. Your invoice {{ $('Build invoice HTML').item.json.orderNumber }} is attached as a PDF.\n\nIf you have any questions, just reply to this email.\n\nBest regards",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          }
        }
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000008",
      "name": "Archive invoice in Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1320,
        180
      ],
      "parameters": {
        "name": "={{ $('Build invoice HTML').item.json.invoiceFilename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000009",
      "name": "Mark order as invoiced",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        180
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Number": "={{ $('Build invoice HTML').item.json.orderNumber }}",
            "Status": "Invoiced"
          },
          "matchingColumns": [
            "Order Number"
          ],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000010",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -230
      ],
      "parameters": {
        "width": 400,
        "height": 200,
        "content": "**1. Trigger and configuration**\nFires on every new row in your Orders sheet. Edit the Workflow configuration node to set your company name, logo, and tax rate."
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000011",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        -230
      ],
      "parameters": {
        "width": 400,
        "height": 200,
        "content": "**2. Build and convert**\nBuilds a styled HTML invoice from the order row, then the Acrewity node renders it to PDF and it is converted to a binary file."
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000012",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        -230
      ],
      "parameters": {
        "width": 460,
        "height": 200,
        "content": "**3. Deliver, archive, and record**\nThe PDF goes to the customer via Gmail, a copy lands in your Drive folder, and the sheet row gets Status = Invoiced so nothing is billed twice."
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000013",
      "name": "Is the order valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "aa000001-0000-0000-0000-000000000014",
      "name": "Mark order as failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        220
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Number": "={{ $json.orderNumber }}",
            "Status": "={{ $json.statusMessage }}"
          },
          "matchingColumns": [
            "Order Number"
          ],
          "schema": []
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "New order row added": {
      "main": [
        [
          {
            "node": "Workflow configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow configuration": {
      "main": [
        [
          {
            "node": "Build invoice HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build invoice HTML": {
      "main": [
        [
          {
            "node": "Is the order valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert invoice to PDF": {
      "main": [
        [
          {
            "node": "Convert PDF to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert PDF to file": {
      "main": [
        [
          {
            "node": "Email invoice to customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Archive invoice in Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive invoice in Drive": {
      "main": [
        [
          {
            "node": "Mark order as invoiced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is the order valid?": {
      "main": [
        [
          {
            "node": "Convert invoice to PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark order as failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}